.odd {
    font-family: Verdana, DejaVu Sans, sans-serif;
    background-color: darksalmon;
}
.second {
    color: blue;
    font-size: 36px;
}
#id {
    font-size: 24px;
}
.forth {
    background-color: lightgreen;
    font-size: 24px;
}