body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  height: 72px;
  background: darkmagenta;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 32px;
  font-weight: 900px;
  align-items: center;
  padding-left: 10px;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 10px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 200px;
  font-size: 12px;
}
.container {
  display: flex;
  flex: 1;
}
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}